/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Main Container */
#main-container {
  /* Typo: should be #main-container */
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}



#main-container h2 {
  /* Typo: should be #main-container h2 */
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  line-height: 50px;
}

/* Editor Container Styles */
#editor-container {

  min-height: 450px;

  padding: 10px;
  border: 2px solid #0000004d;
  border-top: 0;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
  overflow-y: auto;
}

/* Toolbar */
#custom-toolbar {
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #0000004d;
  padding: 30px 20px;
  text-align: center;
}

/* custom font  */

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(1)::before {
  content: '11px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(2)::before {
  content: '12px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(3)::before {
  content: '14px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(4)::before {
  content: '16px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(5)::before {
  content: '18px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(6)::before {
  content: '20px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(7)::before {
  content: '22px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(8)::before {
  content: '24px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(9)::before {
  content: '26px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(10)::before {
  content: '28px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(11)::before {
  content: '36px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:nth-child(12)::before {
  content: '48px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item:last-child:before {
  content: '72px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value);
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: green;
  color: #f8f8f2;
  overflow: visible;
}

/* Responsive Styles */
@media (max-width: 992px) {
  #main-container {
    /* Typo: should be #main-container */
    width: 95%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #editor-container {
    min-height: 300px;
  }

  #editor-container p {
    min-height: 350px;
  }

  #custom-toolbar {
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #686599;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Quill Picker Width */
  .ql-snow .ql-picker.ql-size {
    width: 80px;
  }


}