/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Main Container */
#main-contianer { /* Typo: should be #main-container */
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Editor Container */
#editor-container {
  padding: 20px 50px;
}

#main-contianer h2 { /* Typo: should be #main-container h2 */
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  line-height: 50px;
}

/* Editor Container Styles */
#editor-container {
  min-height: 450px;
  padding: 10px;
  border: 2px solid #0000004d;
  border-top: 0;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
  overflow-y: auto;
}

/* Paragraph inside Editor */
#editor-container p {
  min-height: 450px;
}

/* Toolbar */
#custom-toolbar {
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #0000004d;
  padding: 30px 20px;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 992px) {
  #main-contianer { /* Typo: should be #main-container */
    width: 95%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #editor-container {
    min-height: 300px;
  }

  #editor-container p {
    min-height: 350px;
  }

  #custom-toolbar {
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #686599;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Quill Picker Width */
  .ql-snow .ql-picker.ql-size {
    width: 80px;
  }
}
